$primary-500: #8edb68;
$primary-600: #7ad44d;
$primary-700: #5fc32e;

.center {
  display: flex;
  align-items: center;
  justify-content: center;

  >h1 {
    margin-bottom: 0px;
  }

  >img {
    margin-bottom: 10px;
  }
}

.recipes {
  @extend .grid;
  grid-template-columns: repeat(2, 1fr);
}

.recipe-card {
  @extend article;
  transition: transform 0.5s;

  >img {
    border-radius: var(--border-radius);
    display: block;
    margin: 0 auto;

    object-fit: cover;
  }

  &:hover {
    transform: scale(1.1);
  }

}

details {
  summary {
    font-size: 28px;
  }
}

article {
  >img {
    border-radius: var(--border-radius);
  }
}

[data-tooltip] {
  font-style: normal;
}

// Import needed components
// @import "pico/scss/pico"
@import "pico/scss/variables";
@import "pico/scss/themes/default";

@import "pico/scss/layout/document";
@import "pico/scss/layout/sectioning";
@import "pico/scss/layout/container";
@import "pico/scss/layout/grid";

@import "pico/scss/content/miscs";
@import "pico/scss/content/embedded";
@import "pico/scss/content/typography";
@import "pico/scss/content/table";

@import "pico/scss/components/accordion";
@import "pico/scss/components/card";
@import "pico/scss/components/nav";

@import "pico/scss/utilities/accessibility";
@import "pico/scss/utilities/tooltip";