{% extends "base.html" %}
{% block title %}Reyepte{% endblock %}

{% block content %}
<h1 class="center">Reyepte</h1>
<input type="search" id="search" name="search" placeholder="Search">

<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Rezepte</a></li>
  </ul>
</nav>

<div class="recipes">

  {% for page in section.pages %}
  <div>
    <a href="{{ page.permalink | safe }}">
      <article>

        {% if page.extra.img is defined %}
        <img src="{{ page.extra.img }}">
        {% else %}
        {% endif %}

        <footer>
          {{ page.title }}
        </footer>
      </article>
    </a>
  </div>
  {% endfor %}

</div>


{% endblock content %}