{% extends "base.html" %}
{% block title %}Reyepte{% endblock %}

{% block content %}
<div class="center">
  <img src="bowl.png" width="66px">
  <h1>Reyepte</h1>
</div>
<!-- 
<input type="search" id="search" name="search" placeholder="Search">
-->

<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Rezepte</a></li>
  </ul>
</nav>

<div class="recipes">

  {% for page in section.pages %}

  <a href="{{ page.permalink | safe }}">
    {% if page.extra.img is defined %}
    <article class="recipe-card">

      {% set image = resize_image(path=page.extra.img, width=500, height=500, op="fill", format="webp", quality=85) %}
      <img src="{{ image.url }}" />

      <footer>
        {{ page.title }}
      </footer>
    </article>
    {% else %}
    <article>
      {{ page.title }}
    </article>
    {% endif %}
  </a>
  {% endfor %}

</div>


{% endblock content %}