{% extends "base.html" %}
{% block title %}Reyepte{% endblock %}

{% block content %}
<div class="center">
  <h1>Reyepte</h1>
</div>
<!-- 
<input type="search" id="search" name="search" placeholder="Search">
-->

<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Rezepte</a></li>
  </ul>
</nav>

<div class="recipes">

  {% for page in section.pages %}

  <a href="{{ page.permalink | safe }}">
    <div class="recipe-card">

      <!-- Image processing -->
      {% if page.extra.img is defined %}
      {% set image = resize_image(path=page.extra.img, width=500, height=500, op="fill", format="webp", quality=33) %}
      <img src="{{ image.url }}" width="500" height="500" alt="{{ page.title }}" />
      {% else %}
      <img src="/scaled_bowl.webp" width="500" height="500" alt="A bowl" />
      {% endif %}
      <!---------------------->

      <div>
        {{ page.title }}
      </div>
    </div>

  </a>
  {% endfor %}

</div>


{% endblock content %}