{% extends "base.html" %}


{% block content %}
<h1>Pizza</h1>

<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Rezepte</a></li>
    <li>Pizza</li>
  </ul>
</nav>

{% set image = resize_image(path=asset, width=500, height=500) %}
<a href="{{ get_url(path=asset) }}" target="_blank">
  <img src="{{ image.url }}" />
</a>

<details>
  <summary>Zutaten</summary>

  <table>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
    </tbody>
  </table>
</details>


<details>
  <summary>Zutaten</summary>
  <p>blablabla</p>
</details>

{% endblock content %}

